<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='xrd_styles.css') }}"
      rel="stylesheet"
    />
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" />
    <title>XRD WebApp - Grain Size Calculator</title>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  </head>
  <body>
    <div class="status"></div>
    <div id="title-div">
      <h1>XRD Grain Size Calculator Ver. 0.1</h1>
      <form id="submit-form">
        <label for="yearBrowser">Year</label>
        <input id="year-input" list="year-browsers" name="yearBrowser" />
        <datalist id="year-browsers">
          {% for Year in Year_List %}
          <option value="{{Year}}"></option>
          {% endfor %}
        </datalist>
        <label for="monthBrowser">Month</label>
        <input id="month-input" list="month-browsers" name="monthBrowser" />
        <datalist id="month-browsers">
          {% for Month in Month_List %}
          <option value="{{Month}}"></option>
          {% endfor %}
        </datalist>
        <label for="snBrowser">SN</label>
        <input id="submit-input" list="sn-browsers" name="snBrowser" />
        <datalist id="sn-browsers">
          {% for SN in SN_List %}
          <option value="{{SN}}"></option>
          {% endfor %}
        </datalist>
        <button id="submit-button" type="submit" role="button">확인</button>
        <button id="reset-button" role="button">초기화</button>
      </form>
    </div>

    <datalist id="file-browsers"> </datalist>

    <div id="plots-parent">
      <div id="plots" style="width: 800px; height: 2000px"></div>
    </div>

    <div id="modify-div">
      <button id="modify-button" class="hidden" type="submit" role="button">
        선택 완료
      </button>
    </div>

    <script src="{{ url_for('static', filename='xrd_script.js') }}"></script>
  </body>
</html>
